@import "tailwindcss";

@layer base {
  html {
    font-family: Times, 'Times New Roman', serif;
  }
  
  body {
    font-size: 1rem;
    line-height: 1.375;
  }
  
  a {
    color: #0000ee;
  }
  
  a:visited {
    color: #551a8b;
  }
}